.DS_Store
.cache/
.local/
*.log
*.keystore
*.jks
*.p12
.env
.env.*
android/.gradle/
android/.idea/
android/.kotlin/
android/**/build/
android/local.properties
ios/.build/
ios/**/.build/
ios/build/
ios/**/xcuserdata/
ios/**/DerivedData/
ios/Signing.local.xcconfig
**/*.xcuserstate
