IPHONEOS_DEPLOYMENT_TARGET = 17.0
SWIFT_VERSION = 5.0
SWIFT_STRICT_CONCURRENCY = targeted
TARGETED_DEVICE_FAMILY = 1,2
CODE_SIGN_STYLE = Automatic
APP_GROUP_ID = group.dev.datell.followertracker
SHARED_KEYCHAIN_ID = dev.datell.followertracker.shared
MARKETING_VERSION = 0.1.0
CURRENT_PROJECT_VERSION = 1
#include? "../Signing.local.xcconfig"
